<div class="basic-grey">
<h1>Seja bem-vindo!</h1>
<h1> <%= params[:controller] %></h1>
<ul>
	<li><%= link_to "Types", kinds_path %></li>
	<li><%= link_to "Contacts", contacts_path %></li>
	<li><%= link_to "Addresses", addresses_path %></li>
	<li><%= link_to "Phones", phones_path %></li>
	<li><%= link_to "Teste de AJAX", phones_path, remote: true %></li>
</ul>
</div>